@{
    ViewBag.Title = "Index";
}

<h2>Welcome to Signifly Team Manager</h2>

<a class="btn btn-signifly" href="@Url.Action("Teams")">Show Created Teams</a>
<a class="btn btn-signifly" href="@Url.Action("TeamMember")">Show Team Members</a>