@model Signifly_Interview.ViewModels.ShowTeamViewModel

@{
    ViewBag.Title = "Show Team";
}

<h2>@Model.Team.Name</h2>

<h3>Team Members</h3>

@Html.Partial("TeamMembers/_TeamMembers", Model.Team.TeamMembers)