@model Signifly_Interview.ViewModels.TeamMemberViewModel

@{
    ViewBag.Title = "Team Members";
    ViewBag.Site = "TeamMembers";
}

<h2>Team Members</h2>

@Html.Partial("TeamMembers/_TeamMembers", Model.TeamMembers)