.body-content {
    margin-top: 51px;
}

.navbar {
    background-color: #df1927;
    border-color: #df1927;
}

.navbar-inverse .navbar-brand {
    color: #ffffff;
}

.navbar-default,
.navbar-default:visited {
    background-color: #df1927;
    color: #ffffff !important;
}

.navbar-default:hover, 
.navbar-default:active, 
.navbar-inverse .navbar-nav>.active>a {
    background-color: #af0015 !important;}.right {
    float: right;
}