.body-content {
    margin-top: 51px;
}

.navbar {
    background-color: #df1927;
    border-color: #df1927;
}

.navbar-inverse .navbar-brand {
    color: #ffffff;
}

.navbar-default,
.navbar-default:visited {
    background-color: #df1927;
    color: #ffffff !important;
}

.navbar-default:hover, 
.navbar-default:active, 
.navbar-inverse .navbar-nav>.active>a {
    background-color: #af0015 !important;
}

.right {
    float: right;
}

.TeamMemberGrid {
    margin-bottom: 50px;
    padding: 0;
}

.TeamMemberSingle {
    width: 320px; 
    background-color: #1e2228;
    color: #ffffff;
    text-align: center;
    padding: 10px 10px 10px 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.TeamMemberSingle p {
    font-size: 20px;
}


.TeamMemberSingle span {
    color: #3c4654;
    font-size: 15px;
}

.navbar-brand img {
    display: block;
    height: 80px;
    width: 150px;
    margin-top: -30px;
    margin-left: -20px;
}

.pointer {
    cursor: pointer;
}

.member-contact {
    line-height: 2em;
}

.btn-signifly{
    background-color: #fff;
    border: 2px solid #E2121C;
    color: #E2121C;
}

.btn-signifly:hover{
   background-color: #E2121C;
   color: #fff;
}
a {
    color: #E2121C;
    text-decoration: none;
}

a:hover {
    color: #E2121C;
    text-decoration: underline;
}
    